{% addtoblock "css" %}
    <link href="{{ STATIC_URL }}report/static/css/report_chart_plugin.css" rel="stylesheet" type="text/css" />
{% endaddtoblock %}

{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}report/static/js/charts.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}report/static/js/regular_chart_plugin.js"></script>
{% endaddtoblock %}

<script type="text/javascript">
    {% if not auth_flag %}
        window.location.href = window.location.origin;
    {% endif %}
</script>

<div class="chart_area">
    <div class="title">
        <span>{{title}}</span>
    </div>

	<div class="select_area">
		<div class="select1">
            <span>Platform:X86_64</span>
           	<!--<select>
                <option>All</option>
                {% for platform in platform_list %}
                    <option data-platform_id="{{ platform.id }}">{{platform.name}}</option>
                {% endfor%}
			</select>-->
        </div>
		<div class="select2">
            <span>OS:Linux</span>
            <!--<select>
                <option>All</option>
                {% for os in os_list %}
                    <option data-os_id="{{ os.id }}">{{os.name}}</option>
                {% endfor%}
			</select>-->
		</div>
		</div>

    <div id="chart" class="chart_area">
    <div id="regular_chart" style="width: {{size.width}}; height: {{size.height}};" data-chart-data = "{{ chart_data }}"></div>
        <div class="chart_nodata" style="display: none"> No data report !!</div>
    </div>

    <br style="clear:both;" />
</div>
<div class="option" style="display: none">{{ chartoption|safe }}</div>
