{% addtoblock "css" %}
    <link href="{{ STATIC_URL }}report/static/css/report.css" rel="stylesheet" type="text/css"/>
{% endaddtoblock %}

{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}report/static/js/report.js"></script>
{% endaddtoblock %}

<script type="text/javascript">
    {% if not auth_flag %}
        window.location.href = window.location.origin;
    {% endif %}
</script>

<div class="ui_select_area" data-request-method="{{request.method}}">
    <div class="select_frame">
        <div class="select_area">
            <div class="select_1">
                <span>Category:</span>
                <select class="category_filter">
                    <option id="0">All</option>
                    {% for category in category_list %}
                    <option id="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                </select>
            </div>
                <div class="select_4">
                    <span>NicName:</span>
                    <select class="nic_name_filter">
                        <option id="0">All</option>
                        {% for nic_name in nic_name_list %}
                        <option id="{{nic_name.id}}">{{nic_name.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            {% if 'performance' in request.path %}
                <div class="select_3">
                    <span>APP:</span>
                    <select class="app_filter">
                        <option id="0">All</option>
                        {% for app in app_list %}
                        <option id="{{app.id}}">{{app.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            <div class="select_2">
                <span style="float: left;">Plan Name:</span>
                <input style="float: left;" class="input_area" type="search" />
                <span style="float: left;" class="name_filter"><img src="{{ STATIC_URL }}images/magnify.png"></span>
            </div>
        </div>
{#        <div class="footer">#}
{#            <span class="search">Search</span>#}
{#        </div>#}
    <br style="clear: both">
    </div>
</div>

<div class="ui_table_area">
    <div class="table_frame">
        <div class="detail_plugin" data-status='{"status": "{{status}}", "message": "{{message}}"}'>
{#            <div class="table_header_area">#}
{#                <div class="ui_table_titel">TestPlan List</div>#}
{#            </div>#}
            <div class="detail_area">
                <div class="ui_dynamic_table dynamic_1">
                    <table class="ui_table ui_table_out" id="testplan_report_table" cellpadding="0" cellspacing="0" width="100%" border="1">
                        <thead>
                        <tr>
                            <th style="width:6%;">Create Time</th>
                            <th style="width:19%;">Start Time</th>
                            <th style="width:10%;">End Time</th>
                            {% if 'performance' in request.path %}
                            <th style="width:10%;">ID</th>
                            {% endif %}
                            <th style="width:10%;">Name</th>
                            <th style="width:15%;" class="th_center">Category</th>
                            <th style="width:15%;" class="th_center">App</th>
                            <th style="width:15%;" class="th_center">Owner</th>
                        </tr>
                        </thead>
                        <tbody>
						{{plan_list}}
                            {% for plan in plan_list %}
							{% ifequal plan.id 1 %}
                                <tr data-create_time="{{ plan.create_time |date:'Y-m-d H:i:s' }}" data-start_time="{{plan.start_time | date:'Y-m-d H:i:s'}}" data-end_time="{{ plan.end_time | date:'Y-m-d H:i:s' }}",
									data-id="{{ plan.id }}" data-name="{{ plan.name }}" data-category="{{ plan.category}}" data-owner="{{ plan.owner }}"
									data-desc="{{ plan.description }}", data-app-id="{{ plan.app.id }}">
                                    <td class="td_center"><divtitle="{{plan.create_time |date:'Y-m-d H:i:s' }}"><span class="time">{{ plan.create_time | date:'Y-m-d H:i:s' }}</span></div></td>
                                    <td class="td_center"><div title="{{plan.start_time | date:'Y-m-d H:i:s' }}"><span class="time">{{ plan.start_time | date:'Y-m-d H:i:s'}}</span></div></td>
                                    <td class="td_center"><div title="{{plan.end_time | date:'Y-m-d H:i:s'}}"><span class="time">{{ plan.end_time |date:'Y-m-d H:i:s' }}</span></div></td>

                                    <td><div title="{{ plan.id }}"><span class="plan_id">{{ plan.id }}</span></div></td>
                                    <td><div title="{{ plan.name }}"><span class="name">{{ plan.name }}</span></div></td>
                                    <td><div title="{{ plan.category }}">{{ plan.category }}</div></td>
                                    {% if 'performance' in request.path %}
                                    <td><div title="{{ plan.app.name }}">{{ plan.app.name }}</div></td>
                                    {% endif %}
                                    <td><div title="{{ plan.owner }}">{{ plan.owner }}</div></td>
                                </tr>
								{%endifequal %}
                            {% endfor %}
                            {% for plan in plan_list %}
							{% ifequal plan.id 2 %}
                                <tr data-create_time="{{ plan.create_time |date:'Y-m-d H:i:s' }}" data-start_time="{{plan.start_time | date:'Y-m-d H:i:s'}}" data-end_time="{{ plan.end_time | date:'Y-m-d H:i:s' }}",
									data-id="{{ plan.id }}" data-name="{{ plan.name }}" data-category="{{ plan.category}}" data-owner="{{ plan.owner }}"
									data-desc="{{ plan.description }}", data-app-id="{{ plan.app.id }}">
                                    <td class="td_center"><div title="{{plan.create_time |date:'Y-m-d H:i:s' }}"><span class="time">{{ plan.create_time | date:'Y-m-d H:i:s' }}</span></div></td>
                                    <td class="td_center"><div title="{{plan.start_time | date:'Y-m-d H:i:s' }}"><span class="time">{{ plan.start_time | date:'Y-m-d H:i:s'}}</span></div></td>
                                    <td class="td_center"><div title="{{plan.end_time | date:'Y-m-d H:i:s'}}"><span class="time">{{ plan.end_time |date:'Y-m-d H:i:s' }}</span></div></td>

                                    <td><div title="{{ plan.id }}"><span class="plan_id">{{ plan.id }}</span></div></td>
                                    <td><div title="{{ plan.name }}"><span class="name">{{ plan.name }}</span></div></td>
                                    <td><div title="{{ plan.category }}">{{ plan.category }}</div></td>
                                    {% if 'performance' in request.path %}
                                    <td><div title="{{ plan.app.name }}">{{ plan.app.name }}</div></td>
                                    {% endif %}
                                    <td><div title="{{ plan.owner }}">{{ plan.owner }}</div></td>
                                </tr>
								{%endifequal %}
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if plan_list|length == 0 %}
                        <div class="nodata">No data for show</div>
                    {% endif %}
                </div>

                <div class="ui_operation_area">
                    <div class="ui_paginator_area">
                        {% if plan_all|length > 1 %}
                        <div class="ui_paginator">
                            {% if plan_list.has_previous %}
                                <a class="previous" data-page="{{plan_list.previous_page_number}}"><< Previous</a>
                            {% endif %}

                            <span>
                            {% for p in page_range %}
                                {% ifequal p plan_list.number %}
                                    <span class="current">{{p}}</span>
                                {% else %}
                                    <a class="page" data-page="{{p}}">{{p}}</a>
                                {% endifequal %}
                            {% endfor %}
                            </span>

                            {% if plan_list.has_next %}
                                <a class="next" data-page="{{ plan_list.next_page_number }}">Next >></a>
                            {% endif %}
                        <a class="count">[{{ plan_list.number }}/{{ plan_list.paginator.num_pages }} page]</a>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



