<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Page unavailable</title>
<link href="" rel="stylesheet">
</head>
<body style="background-color: #f6f6f6; font-family: 'intel clear', 'tahoma', Helvetica, 'helvetica', Arial, sans-serif; font-size: 23px;text-align: center; margin-top: 50px; color: #595959;">
    <p  style="border-bottom: 1px solid #cdcdcd; color: #d76a6a; font-style: italic; padding: 20px 0; font-weight: 600">Something went wrong here :(</p>

    <div style="
        color: #fff;
        text-align: center;
        font-size: 200px;
        padding: 40px 0 20px 0;

        text-shadow: 0 1px 0 #ccc,
                     0 2px 0 #c9c9c9,
                     0 3px 0 #bbb,
                     0 4px 0 #b9b9b9,
                     0 5px 0 #aaa,
                     0 6px 1px rgba(0,0,0,.1),
                     0 0 5px rgba(0,0,0,.1),
                     0 1px 3px rgba(0,0,0,.3),
                     0 3px 5px rgba(0,0,0,.2),
                     0 5px 10px rgba(0,0,0,.25),
                     0 10px 10px rgba(0,0,0,.2),
                     0 20px 20px rgba(0,0,0,.15);">500</div>

    <p style="font-size: 18px; font-weight: bold;">Sorry, an error has occured. Internal Server Error.</p>
    <p style="font-size: 18px; font-weight: bold;">Our engineers have been notified, so check back later.</p>
    <span onclick="window.location.href=window.location.origin;" style="cursor: pointer;border-radius: 2px;display: inline-block; background-color: #893f3f;color: #fff; width: 150px; height: 30px; line-height: 30px; font-size: 14px; text-align: center;">
        Return Home
    </span>

</body>
</html>
